/*! #FD0000 | btns | MIT */
//options
$btn-base-bg: #FD0000;
$btn-base-color: #f5f5f5;
$btn-base-border: darken($btn-base-bg, 15%);

$btn-padding: 6px 12px;
$btn-border-radius: 4px;
$btn-font-size: 16px;

//methods
$complement-bg: complement($btn-base-bg);
$mix-bg: mix($btn-base-bg, $btn-base-color);
$invert-bg: invert($btn-base-bg);


.btn {
	display: inline-block;
	text-align: center;
	font-size: $btn-font-size;
	padding: $btn-padding;
	border-radius: $btn-border-radius;
	border: 1px solid transparent;
	cursor: pointer;
	color: $btn-base-color;
	&:hover {
		opacity: 0.75;
	}
	&--base {
		background: $btn-base-bg;
		color: $btn-base-color;
		border-color: $btn-base-border;
	}
	&--dark-one {
		background: darken($btn-base-bg, 10%);
		color: lighten($btn-base-color, 60%);
		border-color: darken($btn-base-border, 10%);
	}
	&--dark-two {
		background: darken($btn-base-bg, 20%);
		color: lighten($btn-base-color, 40%);
		border-color: darken($btn-base-border, 20%);
	}
	&--dark-three {
		background: darken($btn-base-bg, 30%);
		color: lighten($btn-base-color, 20%);
		border-color: darken($btn-base-border, 30%);
	}
	&--light-one {
		background: lighten($btn-base-bg, 10%);
		border-color: lighten($btn-base-border, 10%);
	}
	&--light-two {
		background: lighten($btn-base-bg, 20%);
		color: darken($btn-base-color, 80%);
		border-color: lighten($btn-base-border, 20%);
	}
	&--light-three {
		background: lighten($btn-base-bg, 30%);
		color: darken($btn-base-color, 90%);
		border-color: lighten($btn-base-border, 30%);
	}
	&--mix {
		background: $mix-bg;
		color: $btn-base-color;
		border-color: darken($mix-bg, 15%);
	}
	&--hue-one {
		$hue-one: adjust-hue($btn-base-bg, 15%);
		background: $hue-one;
		border-color: darken($hue-one, 15%);
	}
	&--hue-two {
		$hue-two: adjust-hue($btn-base-bg, 35%);
		background: $hue-two;
		border-color: darken($hue-two, 15%);
	}
	&--hue-three {
		$hue-three: adjust-hue($btn-base-bg, 55%);
		background: $hue-three;
		border-color: darken($hue-three, 15%);
	}
	&--hue-four {
		$hue-four: adjust-hue($btn-base-bg, 75%);
		background: $hue-four;
		border-color: darken($hue-four, 15%);
	}
	&--hue-five {
		$hue-five: adjust-hue($btn-base-bg, 95%);
		background: $hue-five;
		border-color: darken($hue-five, 15%);
	}
	&--complement {
		background: $complement-bg;
		color: $btn-base-color;
		border-color: darken($complement-bg, 15%);
	}
	&--hue-i-one {
		$hue-i-one: adjust-hue($invert-bg, 15%);
		background: $hue-i-one;
		border-color: darken($hue-i-one, 15%);
	}
	&--hue-i-two {
		$hue-i-two: adjust-hue($invert-bg, 35%);
		background: $hue-i-two;
		border-color: darken($hue-i-two, 15%);
	}
	&--hue-i-three {
		$hue-i-three: adjust-hue($invert-bg, 55%);
		background: $hue-i-three;
		border-color: darken($hue-i-three, 15%);
	}
	&--hue-i-four {
		$hue-i-four: adjust-hue($invert-bg, 75%);
		background: $hue-i-four;
		border-color: darken($hue-i-four, 15%);
	}
	&--hue-i-five {
		$hue-i-five: adjust-hue($invert-bg, 95%);
		background: $hue-i-five;
		border-color: darken($hue-i-five, 15%);
	}
	&--grayscale {
		background: grayscale($btn-base-bg);
		border-color: grayscale($btn-base-border);
	}
}