/*! #FD0000 | btns | MIT */
//options
$btn-base-bg: #39CCCC;

$btn-padding: 6px 12px;
$btn-border-radius: 4px;
$btn-font-size: 18px;

//variables
$btn-base-color: grayscale($btn-base-bg);
$btn-base-border: darken($btn-base-bg, 15%);

$complement-bg: complement($btn-base-bg);
$mix-bg: mix($btn-base-bg, $btn-base-color);


.btn {
	display: inline-block;
	text-align: center;
	font-size: $btn-font-size;
	padding: $btn-padding;
	border-radius: $btn-border-radius;
	border: 1px solid transparent;
	cursor: pointer;
	color: #fff;
	&--base {
		background: $btn-base-bg;
		color: $btn-base-color;
		border-color: $btn-base-border;
	}
	&--dark-one {
		background: darken($btn-base-bg, 10%);
		color: lighten($btn-base-color, 60%);
		border-color: darken($btn-base-border, 10%);
	}
	&--dark-two {
		background: darken($btn-base-bg, 20%);
		color: lighten($btn-base-color, 40%);
		border-color: darken($btn-base-border, 20%);
	}
	&--dark-three {
		background: darken($btn-base-bg, 30%);
		color: lighten($btn-base-color, 20%);
		border-color: darken($btn-base-border, 30%);
	}
	&--light-one {
		background: lighten($btn-base-bg, 10%);
		color: darken($btn-base-color, 60%);
		border-color: lighten($btn-base-border, 10%);
	}
	&--light-two {
		background: lighten($btn-base-bg, 20%);
		color: darken($btn-base-color, 40%);
		border-color: lighten($btn-base-border, 20%);
	}
	&--light-three {
		background: lighten($btn-base-bg, 30%);
		color: darken($btn-base-color, 20%);
		border-color: lighten($btn-base-border, 30%);
	}
	&--complement {
		background: $complement-bg;
		color: $btn-base-color;
		border-color: darken($complement-bg, 20%);
	}
	&--mix {
		background: $mix-bg;
		color: $btn-base-color;
		border-color: darken($mix-bg, 20%);
	}
	&--hue-one {
		background: adjust-hue($btn-base-bg, 20%);
	}
	&--hue-two {
		background: adjust-hue($btn-base-bg, 40%);
	}
	&--hue-three {
		background: adjust-hue($btn-base-bg, 60%);
	}
	&--hue-four {
		background: adjust-hue($btn-base-bg, 80%);
	}
	&--hue-five {
		background: adjust-hue($btn-base-bg, 100%);
	}
}