/*! #FD0000 | btns | MIT */
.btn {
  display: inline-block;
  text-align: center;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
}
.btn--base {
  background: #fd0000;
  color: #7f7f7f;
  border-color: #b10000;
}
.btn--dark-one {
  background: #ca0000;
  color: white;
  border-color: #7e0000;
}
.btn--dark-two {
  background: #970000;
  color: #e5e5e5;
  border-color: #4b0000;
}
.btn--dark-three {
  background: #640000;
  color: #b2b2b2;
  border-color: #180000;
}
.btn--light-one {
  background: #ff3131;
  color: black;
  border-color: #e40000;
}
.btn--light-two {
  background: #ff6464;
  color: #191919;
  border-color: #ff1818;
}
.btn--light-three {
  background: #ff9797;
  color: #4c4c4c;
  border-color: #ff4b4b;
}
