/*! #FD0000 | btns | MIT */
.btn {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  color: whitesmoke;
}
.btn--base {
  background: #fd0000;
  color: whitesmoke;
  border-color: #b10000;
}
.btn--dark-one {
  background: #ca0000;
  color: white;
  border-color: #7e0000;
}
.btn--dark-two {
  background: #970000;
  color: white;
  border-color: #4b0000;
}
.btn--dark-three {
  background: #640000;
  color: white;
  border-color: #180000;
}
.btn--light-one {
  background: #ff3131;
  border-color: #e40000;
}
.btn--light-two {
  background: #ff6464;
  color: #292929;
  border-color: #ff1818;
}
.btn--light-three {
  background: #ff9797;
  color: #101010;
  border-color: #ff4b4b;
}
.btn--mix {
  background: #f97a7a;
  color: whitesmoke;
  border-color: #f63131;
}
.btn--hue-one {
  background: #fd3f00;
  border-color: #b12c00;
}
.btn--hue-two {
  background: #fd9400;
  border-color: #b16700;
}
.btn--hue-three {
  background: #fde800;
  border-color: #b1a200;
}
.btn--hue-four {
  background: #befd00;
  border-color: #84b100;
}
.btn--hue-five {
  background: #69fd00;
  border-color: #4ab100;
}
.btn--complement {
  background: #00fdfd;
  color: whitesmoke;
  border-color: #00b0b1;
}
.btn--hue-i-one {
  background: #02c0ff;
  border-color: #0087b4;
}
.btn--hue-i-two {
  background: #026bff;
  border-color: #004bb4;
}
.btn--hue-i-three {
  background: #0217ff;
  border-color: #000fb4;
}
.btn--hue-i-four {
  background: #4102ff;
  border-color: #2d00b4;
}
.btn--hue-i-five {
  background: #9602ff;
  border-color: #6900b4;
}
.btn--grayscale {
  background: #7f7f7f;
}
